.table-container {
    height: 250px;
    overflow-y: auto;
    width: 50%;
    min-width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

tbody td {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #F5F5F5;
}

.info-link {
    text-decoration: none;
    line-height: 1;
    font-size: 1.5rem;
}

.entry-row:hover {
    background-color: #dfefff;
}

.name-cell {
    cursor: pointer;
}

.centred-cell {
    text-align: center;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.col-name {
    width: 70%;
}

.col-id {
    width: 75px;
}

.col-tags {
    width: 30%;
}

.col-info {
    width: 50px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bot-gap {
    margin-bottom: 10px;
}
